* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none !important;
}

.fntblck {
    color: #000 !important;
}

.w-100 {
    width: 100%;
}

.ifinitext,
.ifinitext:hover {
    color: #fff;
    text-decoration: none;
}


/*=======================================
   fonts
==========================================*/

@font-face {
    font-family: 'DMSans Regular';
    src: url('../fonts/DMSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DMSans Bold';
    src: url('../fonts/DMSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DMSans BoldItalic';
    src: url('../fonts/DMSans-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DMSans Italic';
    src: url('../fonts/DMSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DMSans Medium';
    src: url('../fonts/DMSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DMSans MediumItalic';
    src: url('../fonts/DMSans-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Youth Touch DEMO';
    src: url('../fonts/Youthfont/Youth-Touch-PERSONALUSEONLY1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Youth Touch DEMO';
    src: url('../fonts/Youthfont/Youth-Touch-PERSONALUSEONLY1.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/*=======================================
   fonts end
==========================================*/


/*=======================================
   Header Css Start
==========================================*/

body {
    font-family: 'DMSans Regular';
    font-weight: 300;
}

.dmreg {
    font-family: 'DMSans Regular' !important;
}

.whitebg {
    background: #fff;
}

.rightarw {
    display: inline-flex;
    background: url('../img/right-arrow.svg');
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: center;
    height: 30px;
    width: 100%;
}

.cline {
    background-color: #333239;
    height: 50px;
}

.contact-line {
    color: #7FAE05;
    font-family: 'DMSans MediumItalic';
    font-size: 18px;
    line-height: 20px;
}

.contact-line a,
.contact-line a:hover {
    color: #7FAE05;
    text-decoration: none;
}

.logo {
    background: url('../img/logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 146px;
    height: 118px;
}

.headercon {
    background: #FFFFFF;
}

.navbar .nav-item a {
    color: #000000 !important;
    font-family: 'DMSans Bold';
    font-size: 20px;
    line-height: 22px;
    text-transform: capitalize;
}

.navbar ul li {
    padding: 0 20px;
}

.dlxrm {
    background: url('../img/DeluxeBedroom.jpg');
}

.supacrm {
    background: url('../img/supac.jpg');
}

.fmlct {
    background: url('../img/FamilyCottage.jpg');
}


/*=======================================
   Header Css End
==========================================*/


/*=======================================
   Index page css start
==========================================*/

.main-banner {
    background: url('../img/main-banner.jpg');
    display: flex;
    align-items: center;
    height: 872px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
}

.main-banner .heading-h3 {
    font-family: 'DMSans Regular';
}


/* .banner-text {
    top: 50%;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 700px;
} */


/* .banner-text {
    height: 500px;
    position: absolute;
    width: auto;
    margin: 0 auto;
    right: 0;
    left: 0;
} */

.specialslist {
    top: 18px;
    position: relative;
    display: inline-flex;
    overflow: scroll hidden;
    margin: 0;
    padding: 0;
}

.specialslist::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.specialslist li {
    white-space: nowrap;
}

.large-text {
    text-align: center;
    font-family: 'Youth Touch DEMO';
    font-size: 190px;
    line-height: 150px;
    color: #FFFFFF;
}

.heading-h3 {
    font-family: 'DMSans Bold';
    font-size: 30px;
    line-height: 32px;
    color: #FFFFFF;
    text-align: center;
}

.vmorebtn {
    text-transform: uppercase;
    font-family: 'DMSans Bold';
    font-size: 12px;
    background: #A0CC2D;
    color: #fff;
    border-color: transparent;
    padding: 14px 75px;
    border-radius: 66px;
}

.small-heading {
    font-family: 'DMSans Medium';
    font-weight: 600;
    font-size: 12px;
    line-height: 10px;
    font-weight: 300;
    text-transform: uppercase;
}

.heading-h4 {
    font-family: 'DMSans Bold';
    font-weight: 800;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: #000000;
}

.para-info {
    font-family: 'DMSans Medium';
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #686868;
}

.boldline {
    font-family: 'DMSans Bold';
    font-weight: 800;
}

.pd-100 {
    padding: 100px 0;
}

.pdtb-50 {
    padding: 50px 0;
}

.welcome-img {
    display: block;
    width: 100%;
    height: 572px;
    box-shadow: -10px 10px 0px -1px rgb(160 204 45 / 60%);
    -webkit-box-shadow: -10px 10px 0px -1px rgb(160 204 45 / 60%);
    background: url('../img/welcome-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* .welcome-section .para-info {
    line-height: 30px;
} */

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-bottom: 3px solid #7FAE05 !important;
    border: none;
}

.places .nav-link {
    display: block;
    padding: 0.5rem 2.5rem;
}

.places .nav-tabs a {
    font-family: 'DMSans Medium';
    text-transform: uppercase;
    color: #000;
}

.wedding-wow {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 782px;
    background: url('../img/evntweew.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.flimingbgbox {
    background: url('../img/flim.jpg');
}

.copratebox {
    background: url('../img/coprate.jpg');
}

.extendeddysbox {
    background: url('../img/extendedstay.jpg')
}

.wedding-wowbox {
    position: absolute;
    /* margin-top: 100px; */
    left: 20%;
    /* height: 360px; */
    width: 671px;
    background: #fff;
}

.wedding-wowbox .para-info {
    line-height: 30px;
}

.viewmre {
    font-family: 'DMSans Bold';
    color: #7FAE05;
}

.lrgeimgbx {
    position: relative;
    display: block;
    /* background: url('../img/Deluxroom.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 567px;
    width: 100%;
}

.roomdtl {
    font-size: 22px;
    color: #fff;
    font-weight: 300;
    position: absolute;
    bottom: 8px;
}

.roomdtl b {
    font-family: 'DMSans Bold';
}

.rmprice {
    font-family: 'DMSans Regular';
    font-size: 22px;
    color: #A0CC2D;
    font-weight: 300;
}

.layer {
    background-color: rgb(42 42 37 / 60%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slimg {
    position: relative;
    display: block;
    background: url('../img/ACroom.jpg');
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    height: 273px;
    width: 100%;
}

.smlimges ul li {
    list-style: none;
    display: inline-block;
}

.roomnsuites .vmorebtn {
    margin: 20px auto;
}

.joinusimg {
    display: flex;
    align-items: center;
    background: url('../img/joinus.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    height: 630px;
    width: 100%;
}

.joinustext {
    left: 0;
    right: 0;
    width: 700px;
    /* height: 400px; */
    position: absolute;
    margin: 0 auto;
}

.main-ftr {
    background: #242424;
    color: #fff;
}

.main-ftr .heading-h4 {
    color: #fff;
}

.hline {
    margin: 13px 0;
    background: #707070;
}

.ftrhead {
    font-family: 'DMSans Bold';
    text-transform: uppercase;
    font-size: 12px;
    color: #7FAE05;
}

.ftrli {
    width: 200px;
    padding: 0 10px;
}

.ftrli a,
.ftrli a:hover {
    color: #fff;
    font-family: 'DMSans Regular';
    text-decoration: none;
}

.ftrlinks a,
p,
li {
    font-family: 'DMSans Regular';
    font-size: 12px;
}

.sclico li {
    display: inline-flex;
    padding: 0 6px;
}

.socialicons {
    display: block;
    color: #fff;
    height: 27px;
    width: 27px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.cpyrighttext {
    font-size: 12px;
    font-weight: 500;
    font-style: bold;
}


/* .places .tab-pane {
    display: inline-flex;
} */

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #A0CC2D;
    border-color: #A0CC2D;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgb(160 204 45 / 50%)
}


/*=======================================
   Index page css End
==========================================*/


/*======================================
    media quires  start
==================================*/

@media only screen and (max-width: 1200px) {
    .navbar .nav-item a {
        font-size: 14px;
        line-height: 16px;
    }
    .places .nav-link {
        padding: 0.5rem 2rem;
    }
    .roomdtl {
        font-size: 19px;
    }
    .rmprice {
        font-size: 19px;
    }
    .sclico li {
        padding: 0 3px;
    }
    .rentdetils .heading-h3 {
        font-size: 25px;
    }
    .faclitiesbox .para-info {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    .vbtn {
        margin-top: 40px;
        width: 100%;
        text-align: center;
    }
    .wedding-wowbox {
        width: auto;
        /* margin: 0 40px; */
        left: 0;
    }
    .places .nav-tabs {
        margin-bottom: 10px;
    }
    .places .nav-tabs a {
        font-size: 14px;
        line-height: 18px;
    }
    .places .nav-link {
        padding: 5px 12px;
    }
    .roomdetailsbox {
        width: 100%;
        margin-bottom: 30px;
    }
    .roomimgs {
        width: 100%;
    }
    .amenidetails .heading-h3 {
        padding-top: 30px;
    }
    .aniabt {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 480px) {
    .main-banner {
        height: 470px;
    }
    .main-banner .heading-h3 {
        font-size: 20px;
        line-height: 18px;
    }
    .welcome-img {
        display: none;
    }
    .heading-h4 {
        line-height: 34px !important;
        font-size: 25px !important;
    }
    .places .nav-tabs {
        justify-content: normal !important;
    }
    .places .nav-tabs a {
        font-size: 10px;
        line-height: 16px;
    }
    .wedding-wow {
        height: 450px;
    }
    .wowboxdetails {
        padding: 20px !important;
    }
    .smlimggrp .roomdtl {
        font-size: 15px;
        padding: 10px !important;
    }
    .rmprice {
        font-size: 15px;
    }
    .bannerbg {
        height: 300px;
    }
    .bnnertbox {
        margin: 0 auto;
    }
    .faclitiesbox {
        padding: 0 20px;
    }
    .faclitiesbox .para-info {
        padding: 0 10px !important;
    }
    .ftrlinks,
    .ftrdivde {
        display: block !important;
    }
    .ftrdivde ul {
        padding: 0 !important;
    }
    .joinusimg {
        height: 350px;
    }
    .joinustext {
        position: relative;
        width: auto;
    }
    .large-text {
        font-size: 100px;
        line-height: 80px;
    }
    .joinustext .heading-h3 {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px !important;
    }
    .joinustext .vmorebtn {
        padding: 10px 65px;
    }
    .facliist {
        display: block !important;
    }
    .getintuch iframe {
        padding: 0px !important;
    }
    .desktopbtn {
        display: none;
    }
    .mobbtn {
        display: block;
    }
    .ressec {
        padding: 50px 20px;
    }
    .largetxtdsk {
        display: none;
    }
    .amenidetails {
        margin-left: 0 !important;
    }
}

@media only screen and (max-width: 480px) {
    .largetxtmob {
        display: block !important;
    }
}

.largetxtmob {
    display: none;
}

.mobbtn {
    display: none;
}

@media only screen and (max-width: 480px) {
    .mobbtn {
        display: block !important;
    }
}


/*======================================
    media quires  end
==================================*/


/*=======================================
   About us page css start
==========================================*/

.abtbg {
    background: #F5F5F5;
}

.abtbg .heading-h4 {
    font-size: 47px;
    line-height: 50px;
}

@media only screen and (max-width: 1200px) {
    .abtbg .heading-h4 {
        font-size: 38px;
    }
}

.abtbnr {
    background: url('../img/aboutusbnr.jpg') no-repeat;
}

.bannerbg {
    display: block;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 100%;
}

@media only screen and (max-width: 480px) {
    .bannerbg {
        height: 350px;
    }
}

.bnnertbox {
    /* width: 500px;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0; */
    margin: 0 auto;
}

.faclisection {
    background: #fff;
}

.gbox {
    position: absolute;
    margin-left: -10px;
    background: #5D6319;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
}

.iconfac {
    z-index: 1;
    height: 50px;
    width: 100px;
    display: inline-block;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}

@media only screen and (max-width: 480px) {
    .iconfac {
        background-size: 100% !important;
    }
}

.climg {
    background-size: 53% !important;
}


/*=======================================
   About us page css End
==========================================*/


/*=======================================
   Contact us page css start 
==========================================*/

.contctbg {
    background: url('../img/Contact Usbg.jpg');
    background-position: center bottom;
    background-size: cover;
}

.gitbox .heading-h4 {
    font-size: 38px;
    line-height: 36px;
}

.iconconacts {
    display: block;
    height: 29px;
    width: 29px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.vline {
    border-right: 1px solid #B9B9B9;
}

@media only screen and (max-width: 480px) {
    .vline {
        border-right: none;
    }
}

.feedbackfrm input {
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #B3B3B3;
    border-right: none;
    border-radius: 0;
}

.feedbackfrm .heading-h3 {
    color: #000;
}

.getintuch .para-info {
    font-family: 'DMSans Regular';
    font-size: 12px;
}

.getintuch a,
.getintuch a:hover {
    color: #686868;
    text-decoration: none;
}

.feedbackfrm .para-info {
    font-family: 'DMSans Regular';
    font-size: 16px;
}


/* .feedbackfrm .vmorebtn {
    background: #A0CC2D;
} */

.getintuch .form-control {
    background-color: #F5F5F5;
}


/*=======================================
   Contact us page css End 
==========================================*/


/*=======================================
   Evenets page css start 
==========================================*/

.evntbg {
    background: url('../img/eventsbg.jpg');
}

.wwevent {
    background: url('../img/evntweew.jpg');
}

.fpevnt {
    background: url('../img/flim.jpg');
}

.cotbevent {
    background: url('../img/coprate.jpg');
}

.edevent {
    background: url('../img/extendedstay.jpg');
}

.eventsec {
    padding: 0 120px;
}

@media only screen and (max-width: 480px) {
    .eventsec {
        padding: 10px;
    }
}

.evenetsbg .bannerbg {
    background-position: 60% 70%;
    background-size: cover;
}

.eventsbnner {
    display: block;
    height: 350px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.evenetinfo .heading-h3 {
    text-align: left;
    color: #000;
}


/*=======================================
   Evenets page css End 
==========================================*/


/*=======================================
   Rooms n suites  page css start 
==========================================*/

.romnsuitbg .bnnertbox {
    width: 730px;
}

.roomsbg {
    background: url('../img/roomsnsuitebg.png');
}

.roomdetailsbox {
    -webkit-box-shadow: -2px 1px 5px 1px rgb(0 0 0 / 26%);
    box-shadow: -2px 1px 5px 1px rgb(0 0 0 / 26%);
    display: block;
    width: 100%;
    max-height: 510px;
}

.roomimgs {
    display: block;
    width: 100%;
    height: 300px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.rateprice {
    font-size: 20px;
    color: #686868;
}

.pperosn {
    font-size: 18px;
}

.timepicnic {
    font-family: 'DMSans Bold';
    font-size: 30px;
    color: #686868
}


/* .ondaypicnic .roomimgs {
    width: 100%;
}

.ondaypicnic .roomdetailsbox {
    width: 100%;
} */

.dishimg {
    background: url('../img/dishimg.jpg') no-repeat;
    display: block;
    width: 100%;
    height: 410px;
    background-size: cover;
    background-position: center;
}

.fooddetails .heading-h4 {
    font-size: 44px;
}

.fooddetails .para-info {
    font-size: 16px;
}

.listdiamind {
    display: inline-block;
    height: 6px;
    width: 6px;
    transform: rotate(45deg);
    background: #A0CC2D;
    margin-right: 10px;
}


/*=======================================
   Rooms n suites page css End 
==========================================*/


/*=======================================
   amenities page css Start 
==========================================*/

.amnbg {
    background: url('../img/amenitiesbg.png');
}

.acbg {
    background: url('../img/swimmingpool.jpg');
}

.dinbg {
    background: url('../img/diningimg.jpg');
}

.actvibg {
    background: url('../img/activitytwo.jpg');
}

.amibgclr {
    background: #F5F5F5;
}

.ameniimg {
    display: block;
    width: 100%;
    height: 542px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.facliist .iconfac {
    width: 40px;
    height: 40px;
}

.facliist ul li {
    display: inline-flex;
    padding: 30px;
}


/*=======================================
   amenities page css End 
==========================================*/